<template>
  <!-- <v-card height="350px"> -->
  <v-navigation-drawer app permanent width="100px" class="-ml-2">
    <!-- <template v-slot:prepend> -->
    <!-- <v-list-item two-line> -->
    <!-- <v-list-item-avatar> -->
    <!-- <v-container> -->
    <div class="">
      <v-img src="/tadatestlogo.png" max-height="100" max-width="100" />
      <v-switch
        style="margin-top: 70vh"
        append-icon="mdi-weather-night"
        prepend-icon="mdi-white-balance-sunny "
        v-model="$vuetify.theme.dark"
        :hint="$vuetify.theme.dark ? 'Dark' : 'Light'"
        inset
        persistent-hint
      ></v-switch>
    </div>
    <!-- </v-container> -->
    <!-- </v-list-item-avatar> -->

    <!-- <v-list-item-content>
            <v-list-item-title>Jane Smith</v-list-item-title>
            <v-list-item-subtitle>Logged In</v-list-item-subtitle>
          </v-list-item-content> -->
    <!-- </v-list-item> -->
    <!-- </template> -->

    <!-- <v-divider></v-divider> -->

    <!-- <v-list dense>
        <v-list-item v-for="item in items" :key="item.title">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list> -->
  </v-navigation-drawer>
  <!-- </v-card> -->
</template>
<script>
export default {
  name: 'Drawer',
}
</script>

<style scoped>
/* .theme--dark.v-navigation-drawer {
  background-color: #292946;
} */
</style>
