<template>
  <v-row justify="center" align="center">
    <v-col cols="8" sm="8" md="8">
      <v-row>
        <v-col cols="5">
          <div class="text-h4">Invoices</div>
          <div class="text-subtitle1 font-weight-light">
            There are {{ listData.length }} total invoices
          </div>
        </v-col>
        <v-col cols="4" class="mt-5 text-sm">
          Filter by Status <span> <v-icon>mdi-chevron-down</v-icon></span>
        </v-col>
        <v-col cols="3" class="mt-2">
          <v-chip class="ma-2" color="#7E5CFB" text-color="">
            <v-avatar left class="white">
              <v-icon color="#7E5CFB">mdi-plus</v-icon>
            </v-avatar>
            New Invoices
          </v-chip></v-col
        >
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-card v-for="items in listData" :key="items.id" class="mb-5">
            <v-row class="pa-3">
              <v-col cols="2">
                <div class="font-weight-bold">#{{ items.id }}</div>
              </v-col>
              <v-col cols="3" class="font-weight-light">
                Due {{ items.date }}</v-col
              >
              <v-col cols="3" class="font-weight-light">
                {{ items.name }}</v-col
              >
              <v-col cols="2">
                <div class="font-weight-bold" v-html="items.total"></div>
              </v-col>
              <v-col cols="2">
                <v-btn v-if="items.status == 'Paid'" color="#28D2A1">{{
                  items.status
                }}</v-btn>
                <v-btn v-else color="#C08740">{{ items.status }}</v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'IndexPage',
  data() {
    return {
      listData: [
        {
          id: 'RT3080',
          date: '19 Aug 2021',
          name: 'Jensen Huang',
          total: '&#163; 1800.90',
          status: 'Paid',
        },
        {
          id: 'XM9141',
          date: '20 Sep 2021',
          name: 'Alex Grim',
          total: '&#163; 551.90',
          status: 'Pending',
        },
      ],
    }
  },
}
</script>
